PROJECT_NAME='health-check'
COMPOSE_PROJECT_NAME=${PROJECT_NAME}
STATE=dev

DJANGO_SECRET=''
POSTGRES_DB='health-check'
POSTGRES_USER='health-check'
POSTGRES_PASSWORD=''
POSTGRES_HOST=${PROJECT_NAME}-db
POSTGRES_PORT=5432


DJANGO_ALLOW_ASYNC_UNSAFE=true
PYTHONUNBUFFERED=1

CSRF_TRUSTED_ORIGINS='http://localhost:8000'

REDIS_URI="redis://${PROJECT_NAME}-redis:6379/0"
CELERY_BROKER_URL=${REDIS_URI}
CELERY_RESULT_BACKEND=${REDIS_URI}
CELERY_SCHEDULE_TIME=600
HEALTHCHECK_REQUEST_TIMEOUT_SECONDS=10
HEALTHCHECK_REQUEST_ATTEMPTS=2

CHAT_HOOK_URL="https://chat.googleapis.com/..."
